<table id="tabla-psicologico" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>

            <th  rowspan="2" class="text-center" style="vertical-align:middle">Indicadores / Nombres</th>
            <th  colspan="7" class="text-center" style="vertical-align:middle">Entorno familiar</th>
            <th colspan="5" class="text-center" style="vertical-align:middle">Entorno social-cultural, convivencia escolar</th>
            <th colspan="5" class="text-center" style="vertical-align:middle">Entorno Económico</th>
            <th colspan="7" class="text-center">Caracterizacion general del alumno</th>
            <th colspan="7" class="text-center">Inteligencias Multiples</th>
            <th colspan="7" class="text-center">Entorno Grupal</th>
            <th colspan="4" class="text-center" style="vertical-align:middle">Desarrollo evolutivo según Piaget</th>
            <th colspan="3" class="text-center" style="vertical-align:middle">Desarrollo evolutivo según Kohlberg</th>
            <th colspan="8" class="text-center" style="vertical-align:middle">Desarrollo evolutivo según Erikson</th>
            <th colspan="5" class="text-center" style="vertical-align:middle">Evaluación de Diagnóstico</th>
            <th colspan="5" class="text-center" style="vertical-align:middle">Programa de intervención</th>
            <th colspan="3" class="text-center" style="vertical-align:middle">CTE clasificación</th>
        </tr>
        <tr>
            <th class="vertical"><span class="ajustar">Familia completa</span></th>
            <th class="vertical"><span class="ajustar">Familia Monoparental</span></th>
            <th class="vertical"><span class="ajustar">Vive con abuelos tíos etc.</span></th>
            <th class="vertical"><span class="ajustar">Numero de hermanos</span></th>
            <th class="vertical"><span class="ajustar">Lugar que ocupa en la familia</span></th>
            <th class="vertical"><span class="ajustar">Muestra interés en la educación de su hijo-a</span></th>
            <th class="vertical"><span class="ajustar">Participa en las actividades de la escuela</span></th>

            <th class="vertical"><span class="ajustar">Reconoce su propia valía</span></th>
            <th class="vertical"><span class="ajustar">Expresa emociones o ideas</span></th>
            <th class="vertical"><span class="ajustar">Respeta a sí mismo y a los demás</span></th>
            <th class="vertical"><span class="ajustar">Maneja y resuelve conflictos: dialogo y acuerdos</span></th>
            <th class="vertical"><span class="ajustar"> reglas y acuerdos de convivencia</span></th>

            <th class="vertical"><span class="ajustar">Cuenta con casa y servicios básicos</span></th>
            <th class="vertical"><span class="ajustar">Tiene acceso a computadora e internet</span></th>
            <th class="vertical"><span class="ajustar">Como se traslada a la escuela</span></th>
            <th class="vertical"><span class="ajustar">Cuenta con servicio médico</span></th>
            <th class="vertical"><span class="ajustar">La escolaridad de los padres es</span></th>

            <th class="vertical"><span class="ajustar">Edad</span></th>
            <th class="vertical"><span class="ajustar">Sexo</span></th>
            <th class="vertical"><span class="ajustar">Regular</span></th>
            <th class="vertical"><span class="ajustar">N.E.E</span></th>
            <th class="vertical"><span class="ajustar">Actitudes sobresalientes y talentos específicos</span></th>
            <th class="vertical"><span class="ajustar">Situación de riesgo / rechazo</span></th>
            <th class="vertical"><span class="ajustar">Necesidades especificas</span></th>

            <th class="vertical"><span class="ajustar">Linguística verbal</span></th>
            <th class="vertical"><span class="ajustar">Lógico matemática</span></th>
            <th class="vertical"><span class="ajustar">Visual / espacial</span></th>
            <th class="vertical"><span class="ajustar">Kinestésica corporal</span></th>
            <th class="vertical"><span class="ajustar">Musical rítmica/auditivo</span></th>
            <th class="vertical"><span class="ajustar">Intrapersonal</span></th>
            <th class="vertical"><span class="ajustar">Interpersonal</span></th>

            <th class="vertical"><span class="ajustar">Muestra iniciativa</span></th>
            <th class="vertical"><span class="ajustar">Requiere apoyo constante</span></th>
            <th class="vertical"><span class="ajustar">Motivado</span></th>
            <th class="vertical"><span class="ajustar">Aburrimiento</span></th>
            <th class="vertical"><span class="ajustar">Indiferencia</span></th>
            <th class="vertical"><span class="ajustar">Temeroso(a)</span></th>
            <th class="vertical"><span class="ajustar">Conducta inadecuada</span></th>

            <th class="vertical"><span class="ajustar">Etapa sensoriomotora 0-2 años</span></th>
            <th class="vertical"><span class="ajustar">Etapa preconvencional 2-7 años</span></th>
            <th class="vertical"><span class="ajustar">Operaciones concretas 7-12 años</span></th>

            <th class="vertical"><span class="ajustar">Operaciones formales 12 años en adelante</span></th>
            <th class="vertical"><span class="ajustar">Nivel 1: Moralidad preconvencional (4 a 10 años)</span></th>
            <th class="vertical"><span class="ajustar">Nivel 2: Moralidad convencional</span></th>
            <th class="vertical"><span class="ajustar">Nivel 3: Moralidad de los principios morales autónomos</span></th>


            <th class="vertical"><span class="ajustar">Etapa 1 (infante 0-1):<br /> Confianza vs. Desconfianza</span></th>
            <th class="vertical"><span class="ajustar">Etapa 2 (bebe 2-3):<br /> Autonomía vs vergüenza y duda</span></th>
            <th class="vertical"><span class="ajustar">Etapa 3 (prescolar 3-6):<br />Iniciativa vs Culpa</span></th>
            <th class="vertical"><span class="ajustar"> 4 (escolar 7-12):<br />Laboriosidad vs Inferioridad</span></th>
            <th class="vertical"><span class="ajustar">Etapa 5 (Adolecensia 12-18 o mas):<br /> Identidad vs Confusión de roles</span></th>
            <th class="vertical"><span class="ajustar">Etapa 6 (Adulto joven desde los 20 años):<br /> Intimidad vs aislamiento</span></th>
            <th class="vertical"><span class="ajustar">Etapa 7 (Desde los 40):<br /> Generabilidad vs autoabsorción</span></th>
            <th class="vertical"><span class="ajustar">Etapa 8 (Desde los 60):<br />Integridad vs Desesperación</span></th>

            <th class="vertical"><span class="ajustar">Bloque I</span></th>
            <th class="vertical"><span class="ajustar">Bloque II</span></th>
            <th class="vertical"><span class="ajustar">Bloque III</span></th>
            <th class="vertical"><span class="ajustar">Bloque VI</span></th>
            <th class="vertical"><span class="ajustar">Bloque V</span></th>

            <th class="vertical"><span class="ajustar">Bloque I</span></th>
            <th class="vertical"><span class="ajustar">Bloque II</span></th>
            <th class="vertical"><span class="ajustar">Bloque III</span></th>
            <th class="vertical"><span class="ajustar">Bloque VI</span></th>
            <th class="vertical"><span class="ajustar">Bloque V</span></th>

            <th class="vertical"><span class="ajustar">9 y 10</span></th>
            <th class="vertical"><span class="ajustar">7 y 8</span></th>
            <th class="vertical"><span class="ajustar">5 y 6</span></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>