<form>
    <fieldset>
        <div class="col-md-6 col-sm-6">
            <label>Tipo de licencia</label>
            <select name="tipo" class="form-control">
                <option>MAESTRO</option>
                <option>TUTOR</option>
            </select>
        </div>
        <div class="col-md-6 col-sm-6">
            <label>Numero de licencias</label>
            <input name="licencias"  class="form-control" type="number" min="0" placeholder="Numero de licencias" />
        </div>
    </fieldset>
</form>